<link href="/stylesheets/views/abilityDetail.css" rel="stylesheet" type="text/css" />
<div class="kt-container kt-grid__item kt-grid__item--fluid">
  <div class="kt-subheader kt-grid__item">
    <div class="kt-container">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"></h3>
      </div>
    </div>
  </div>

  <div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

      <!--Begin:: App Aside Mobile Toggle-->


      <!--End:: App Aside Mobile Toggle-->

      <!--Begin:: App Aside-->
      <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside" style="opacity: 1;">

        <!--begin:: Widgets/Applications/User/Profile1-->
        <div class="kt-portlet kt-portlet--height-fluid-">
          <div class="kt-portlet__head  kt-portlet__head--noborder">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
              </h3>
            </div>
          </div>
          <div class="kt-portlet__body kt-portlet__body--fit-y">

            <!--begin::Widget -->
            <div class="kt-widget kt-widget--user-profile-1">
              <div class="kt-widget__head">
                <div class="kt-widget__media">
                  <img src="/media/users/teacher_default.png" class="student-photo" alt="image">
                </div>
                <div class="kt-widget__content">
                  <div class="kt-widget__section">
                    <span class="kt-widget__username">
                      <span class="student-name"></span>
                    </span>
                    <span class="kt-widget__subtitle">正在学习 <span class="learning-technology-count"></span> 项技术</span>
                    <span class="kt-widget__subtitle">已被 <span class="company-focus-count">0</span> 家企业关注</span>
                  </div>
                </div>
              </div>
              <div class="kt-widget__body">
                <div class="kt-widget__content">
                  <div class="kt-widget__info">
                    <span class="kt-widget__label">就读高校:</span>
                    <span class="kt-widget__data student-university"></span>
                  </div>
                  <div class="kt-widget__info">
                    <span class="kt-widget__label">就读专业:</span>
                    <span class="kt-widget__data student-school"></span>
                  </div>
                  <div class="kt-widget__info">
                    <span class="kt-widget__label">手机号码:</span>
                    <span class="kt-widget__data student-cellphone"></span>
                  </div>
                  <div class="kt-widget__info">
                    <span class="kt-widget__label">电子邮箱:</span>
                    <span class="kt-widget__data student-email"></span>
                  </div>
                  <div class="kt-widget__info">
                    <span class="kt-widget__label">入学年份:</span>
                    <span class="kt-widget__data student-enrollment-year"></span>
                  </div>
                  <div class="kt-widget__info">
                    <span class="kt-widget__label">在线提问:</span>
                    <span class="kt-widget__data"><span class="online-question-count"></span>次</span>
                  </div>
                  <div class="kt-widget__info">
                    <span class="kt-widget__label">在线答疑:</span>
                    <span class="kt-widget__data"><span class="online-answer-count"></span>次</span>
                  </div>
                  <div class="kt-widget__info">
                    <span class="kt-widget__label">参与项目:</span>
                    <span class="kt-widget__data"><span class="project-count"></span>个</span>
                  </div>
                </div>

              </div>
            </div>

            <!--end::Widget -->
          </div>
        </div>

        <!--end:: Widgets/Applications/User/Profile1-->
      </div>

      <!--End:: App Aside-->



      <!--Begin:: App Content-->
      <div class="kt-grid__item kt-grid__item--fluid kt-app__content technology-analysis-detail">

      </div>

      <!--End:: App Content-->
    </div>

    <!--End::App-->
  </div>

  <div class="modal fade" id="kt_modal_knowledge" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content" style="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">知识点掌握情况</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="kt-scroll ps ps--active-y" data-scroll="true" data-height="550" style="max-height: 550px; overflow: hidden;">
            <div class="row">
              <div class="col-md-4">
                <div class="kt-portlet">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title" id="finish_knowledge_title">

                      </h3>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <div class="kt-list-timeline">
                      <div class="kt-list-timeline__items finish-knowledge">
                        <div class="kt-align-center finish-knowledge-message-complete kt-hidden">没有更多已掌握的知识点了</div>
                        <div class="kt-align-center finish-knowledge-message-none kt-hidden">暂时还没有已掌握的知识点</div>
                      </div>
<!--                      <div class="kt-align-center kt-margin-t-15 finish-knowledge-more kt-hidden">-->
<!--                        <button type="button" class="btn btn-secondary btn-pill" id="btnLoadMoreFinishKnowledge">加载更多</button>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="kt-portlet">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title" id="learning_knowledge_title">

                      </h3>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <div class="kt-list-timeline">
                      <div class="kt-list-timeline__items weakness-knowledge">
                        <div class="kt-align-center weakness-knowledge-message-complete kt-hidden">没有更多掌握薄弱知识点了</div>
                        <div class="kt-align-center weakness-knowledge-message-none kt-hidden">暂时还没有正在练习的知识点</div>
                      </div>
<!--                      <div class="kt-align-center kt-margin-t-15 weakness-knowledge-more kt-hidden">-->
<!--                        <button type="button" class="btn btn-secondary btn-pill" id="btnLoadMoreWeaknessKnowledge">加载更多</button>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="kt-portlet">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title" id="pending_knowledge_title">

                      </h3>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <div class="kt-list-timeline">
                      <div class="kt-list-timeline__items noLearning-knowledge">
                        <div class="kt-align-center noLearning-knowledge-message-complete kt-hidden">没有更多未掌握知识点了</div>
                        <div class="kt-align-center noLearning-knowledge-message-none kt-hidden">太棒了，所有的知识点全都学习过了！</div>
                      </div>
<!--                      <div class="kt-align-center kt-margin-t-20 noLearning-knowledge-more kt-hidden">-->
<!--                        <button type="button" class="btn btn-secondary btn-pill" id="btnLoadMoreNoLearningKnowledge">加载更多</button>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="modal fade" id="kt_modal_code_standard" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">代码规范出错情况</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="kt-scroll ps ps--active-y" data-scroll="true" data-height="450" style="max-height: 450px; overflow: hidden;">
            <table class="table table-striped" id="table_code_standard">
              <thead>
                <tr>
                  <th style="width: 15%">#</th>
                  <th style="width: 65%">代码规范</th>
                  <th style="width: 20%">出错次数</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>

  </div>

  <div class="modal fade" id="kt_modal_exercise" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content" style="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">练习题</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div>
            <button type="button" class="btn btn-pill btn-sm btn-info btn-filter" data-status="NULL">全部</button>
            <button type="button" class="btn btn-pill btn-sm btn-outline-hover-info btn-filter" data-status="P">未练习</button>
            <button type="button" class="btn btn-pill btn-sm btn-outline-hover-info btn-filter" data-status="W">待批改</button>
            <button type="button" class="btn btn-pill btn-sm btn-outline-hover-info btn-filter" data-status="R">待修改</button>
            <button type="button" class="btn btn-pill btn-sm btn-outline-hover-info btn-filter" data-status="S">已通过</button>
          </div>
          <table class="table table-striped" id="table_exercise">
            <thead>
              <tr>
                <th style="width: 25%">知识点</th>
                <th style="width: 25%">练习题</th>
                <th style="width: 15%">下发时间</th>
                <th style="width: 15%">提交时间</th>
                <th style="width: 10%">习题状态</th>
                <th style="width: 10%">查看作品</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="kt-pagination kt-pagination--warning kt-pagination--circle">
            <ul class="kt-pagination__links exercise-pagination">
            </ul>
            <div class="kt-pagination__toolbar">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>

  </div>

</div>
<input type="hidden" value="{{universityCode}}" id="hidden_university_code">
<input type="hidden" value="{{schoolID}}" id="hidden_school_id">
<input type="hidden" value="{{studentID}}" id="hidden_student_id">

<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/abilityDetail.js');
  });
</script>