<!DOCTYPE html>
<html lang="zh">

<!-- begin::Head -->
<head>
  <base href="../">
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <meta name="description" content="上书房｜上书房智慧教育">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <link href="stylesheets/views/login.css" rel="stylesheet" type="text/css"/>
  <link href="stylesheets/views/register.css" rel="stylesheet" type="text/css"/>
  <link href="plugins/general/plugins/flaticon/flaticon.css" rel="stylesheet" type="text/css"/>
  <link href="plugins/general/plugins/flaticon2/flaticon.css" rel="stylesheet" type="text/css"/>
  <link href="stylesheets/style.bundle.css" rel="stylesheet" type="text/css"/>
  <link href="/images/favicon.ico" rel="shortcut icon"/>
  <script src="plugins/general/jquery/dist/jquery.js" type="text/javascript"></script>
  <script src="plugins/general/popper.js/dist/umd/popper.js" type="text/javascript"></script>
  <script src="plugins/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="plugins/general/bootbox/bootbox.js" type="text/javascript"></script>
  <script src="javascripts/angular-1.7.8/angular.min.js" type="text/javascript"></script>
  <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
  <script src="/javascripts/common/commonUtility.js" type="text/javascript"></script>
  <script src="/javascripts/common/bizLogger.js"></script>
  <script src="/javascripts/common/Constants.js" type="text/javascript"></script>
  <script src="/javascripts/common/localMessage.js" type="text/javascript"></script>
  <script src="/javascripts/views/changePassword.js" type="text/javascript"></script>
  <script src="/javascripts/setting/trackingSetting.js"></script>
  <script src="/javascripts/common/tracking.js"></script>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin::Page loader -->

<!-- end::Page Loader -->

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
  <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

      <!--begin::Aside-->
      <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor shs-change-password-left kt-login__aside">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
          <div class="kt-grid__item kt-grid__item--middle">
            
          </div>
        </div>
        <div class="kt-grid__item">
          <div class="kt-login__info">
            <div class="kt-login__copyright">
              &copy 2020~2021 西安樱桃谷信息技术有限公司
            </div>
          </div>
        </div>
      </div>

      <!--begin::Aside-->

      <!--begin::Content-->
      <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
        <!--begin::Body-->
        <div class="kt-login__body">

          <!--begin::Signin-->
          <div class="kt-login__form" ng-app="pageApp" ng-controller="pageCtrl">
            <div class="kt-login__title">
              <h3><span style="color: #5867dd;">上书房</span>智慧教育平台</h3>
              <h4>教师端密码修改</h4>
            </div>

            <!--begin:: change password form -->
            <form class="kt-form" name="myForm" novalidate ng-if="!model.isChangeSuccess">
              <div class="form-group">
                <input type="password"
                       class="form-control"
                       ng-class="{'is-invalid': (myForm.password.$dirty && myForm.password.$invalid) || model.isPasswordInvalid == 1, 'is-valid': model.isPasswordInvalid == 0}"
                       placeholder="请输入原始密码"
                       maxlength="20"
                       name="password"
                       ng-model="model.password"
                       ng-blur="onPasswordBlur()"
                       required
                       autocomplete="close">
                <div class="invalid-feedback" ng-if="myForm.password.$dirty && myForm.password.$invalid">请输入原始密码</div>
                <div class="invalid-feedback" ng-if="model.isPasswordInvalid === 1 && !(myForm.password.$dirty && myForm.password.$invalid)">您输入的原始密码不正确</div>
              </div>

              <div class="form-group">
                <input type="password"
                       class="form-control"
                       ng-class="{'is-invalid': myForm.newPassword.$dirty && myForm.newPassword.$invalid, 'is-valid': model.isNewPasswordInvalid == 0}"
                       placeholder="请输入最多20位新密码"
                       maxlength="20"
                       name="newPassword"
                       ng-model="model.newPassword"
                       ng-blur="onNewPasswordBlur()"
                       required
                       autocomplete="close">
                <div class="invalid-feedback" ng-if="myForm.newPassword.$dirty && myForm.newPassword.$invalid">请输入新密码</div>
              </div>

              <div class="form-group">
                <input type="password"
                       class="form-control"
                       ng-class="{'is-invalid': myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid || myForm.newPassword.$dirty && myForm.newPassword.$invalid || model.isConfirmPasswordInvalid == 1, 'is-valid': model.isConfirmPasswordInvalid == 0}"
                       placeholder="请再次最多20位输入新密码"
                       maxlength="20"
                       name="confirmPassword"
                       ng-model="model.confirmPassword"
                       ng-blur="onConfirmPasswordBlur()"
                       required
                       autocomplete="close">
                <div class="invalid-feedback" ng-if="myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid">请再次输入新密码</div>
                <div class="invalid-feedback" ng-if="model.isConfirmPasswordInvalid == 1 && !(myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid)">您两次输入的新密码不一致，请重新输入</div>
              </div>

              <div class="kt-login__actions">
                <a href="/" class="kt-link kt-login__link-forgot" style="margin-left: 3px">
                  <i class="flaticon-reply"></i>
                  返回主页
                </a>
                <button type="button"
                        class="btn btn-primary btn-elevate kt-login__btn-primary"
                        ng-click="onChangePassword()"
                        ng-disabled="myForm.password.$pristine
                                  || (myForm.password.$dirty && myForm.password.$invalid)
                                  || myForm.newPassword.$pristine
                                  || (myForm.newPassword.$dirty && myForm.newPassword.$invalid)
                                  || myForm.confirmPassword.$pristine
                                  || (myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid)
                                  || model.isPasswordInvalid != 0
                                  || model.isNewPasswordInvalid != 0
                                  || model.isConfirmPasswordInvalid != 0">修改</button>
              </div>
            </form>
            <!--end:: form-->

            <!--begin:: change password success form -->
            <form class="kt-form" ng-if="model.isChangeSuccess">
              <div class="form-group">
                <div class="kt-section__content">
                  <div class="kt-demo">
                    <div class="kt-demo__preview">
                      <div class="alert alert-success" role="alert">
                        <div class="alert-text">
                          <h4 class="alert-heading">
                            <i class="flaticon2-check-mark"></i>
                            密码修改成功!
                          </h4>
                          <p>您的密码已修改成功，可使用新密码重新登陆.</p>
                          <hr>
                          <p class="mb-0">上书房，打造教学与就业的直通车！</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="kt-login__actions">
                <a href="/" class="kt-link kt-login__link-forgot" style="margin-left: 3px">
                  <i class="flaticon-home"></i>
                  返回主页
                </a>
                <a href="/login" class="kt-link kt-login__link-forgot" style="margin-left: 3px">
                  <i class="flaticon2-user"></i>
                  去登陆
                </a>
              </div>
            </form>
            <!--end:: form-->
          </div>

          <!--end::Signin-->
        </div>

        <!--end::Body-->
      </div>

      <!--end::Content-->
    </div>
  </div>
</div>

<!-- end:: Page -->

<!-- begin::Global Config(global config for global JS sciprts) -->


<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->

<!--begin:: Vendor Plugins -->
</body>

<!-- end::Body -->
</html>