<link href="stylesheets/views/company.css" rel="stylesheet" type="text/css" />
<div ng-app="pageApp" ng-controller="pageCtrl">
  <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid" style="max-height: 132px">
    <div class="course-center-header"></div>
  </div>

  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"></h3>
      </div>
    </div>
  </div>

  <div class="kt-container kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xl-3" ng-repeat="company in model.companyList">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="kt-portlet__head kt-portlet__head--noborder">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
              </h3>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-2 ">
              <div class="kt-widget__head">
                <div class="kt-widget__media">
                  <img class="kt-widget__img" ng-src="\{{company.brand}}" alt="image">
                </div>

                <div class="kt-widget__info">
                  <h4 href="javascript:;" ng-click='onOpenTechnologyInfo(data.technologyID, 1)'
                    ng-bind="company.companyAbbreviation" class="kt-widget__username kt-font-bold"></h4>

                  <span class="kt-widget__desc">
                    正在使用<span ng-bind="company.usingTechnologyCount"></span>项技术
                  </span>
                </div>
              </div>
              <div class="kt-widget__body">
                <div class="kt-widget__item">
                  <div class="kt-widget__contact">
                    <p ng-bind="company.memo" class="des-misc-3"></p>
                  </div>
                </div>
              </div>
              <div class="kt-widget__footer kt-margin-0">
                <button type="button" class="btn btn-label-brand btn-lg btn-upper" ng-click="onShowDetail(company)">
                  查看起步级别
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="model.companyList.length < model.totalCount">
      <div class="col-xl-12 text-center">
        <button type="button" class="btn btn-secondary btn-elevate btn-pill" ng-click="onLoadMore()"><i
            class="fa fa-sync-alt"></i> 查看更多
        </button>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modal_using_technology" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" ng-bind="model.companyModalTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>使用技术</th>
                <th>起步级别</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat = "technology in model.technologyList">
                <th scope="row" ng-bind="$index + 1"></th>
                <td ng-bind="technology.technologyName"></td>
                <td ng-bind="technology.recruitLevel"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/company.js');
  });
</script>