<link href="/stylesheets/views/index.css" rel="stylesheet" type="text/css" />
{{!-- <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid">
  <img src="/images/banner_home_1.png" class="shs-banner">
</div> --}}

<div class="kt-subheader kt-grid__item" id="kt_subheader">
  <div class="kt-container ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title"></h3>
    </div>
  </div>
</div>

<!-- begin:: Content -->
<div class="kt-container kt-grid__item kt-grid__item--fluid" ng-app="pageApp" ng-controller="pageCtrl">
  
</div>
<!-- end:: Content -->

<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/index.js');
  });
</script>