<link href="/stylesheets/views/myCourse.css" rel="stylesheet" type="text/css" />

<div ng-app="pageApp" ng-controller="pageCtrl">
  <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid" style="max-height: 132px">
    <div class="course-center-header"></div>
  </div>


  <!-- begin:: 已登录 -->
  <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid category-2">
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
      <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" style="opacity: 1;">
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
          <span class="filter-title">研发方向：</span>
          <ul class="kt-menu__nav ">
            <li class="kt-menu__item" ng-class="{'kt-menu__item--here': model.selectedDirection.directionID == 0}">
              <a href="javascript:" class="kt-menu__link" ng-click="onFilterByDirection()">
                <span class="kt-menu__link-text">全部</span>
              </a>
            </li>
            <li class="kt-menu__item" ng-repeat="direction in model.directionList" ng-class="{'kt-menu__item--here': model.selectedDirection.directionID == direction.directionID}">
              <a href="javascript:" class="kt-menu__link" ng-click="onFilterByDirection(direction)">
                <span class="kt-menu__link-text" ng-bind="direction.directionName"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid category-3">
    <div class="kt-container kt-grid__item kt-grid__item--fluid ">
      <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" style="opacity: 1;">
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
          <span class="filter-title">技术分类：</span>
          <ul class="kt-menu__nav ">
            <li class="kt-menu__item" ng-class="{'kt-menu__item--here': model.selectedCategory.categoryID == 0}">
              <a href="javascript:" class="kt-menu__link" ng-click="onFilterByCategory()">
                <span class="kt-menu__link-text">全部</span>
              </a>
            </li>
            <li class="kt-menu__item"
                ng-repeat="category in model.categoryList"
                ng-class="{'kt-menu__item--here': model.selectedCategory.categoryID == category.technologyCategoryID}">
              <a href="javascript:" class="kt-menu__link" ng-click="onFilterByCategory(category)">
                <span class="kt-menu__link-text" ng-bind="category.technologyCategoryName"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- end:: 已登录 -->
</div>

<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/learningPath.js');
  });
</script>