<link href="/stylesheets/views/suggest.css" rel="stylesheet" type="text/css" />
<div class="kt-container kt-grid__item kt-grid__item--fluid" ng-app="pageApp" ng-controller="pageCtrl">
  <div class="kt-subheader kt-grid__item">
    <div class="kt-container">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"></h3>
      </div>
    </div>
  </div>

  <div class="kt-portlet" ng-if="!model.isSubmitSuccess" >
    <form class="kt-form" name="myForm" novalidate>
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            请选择问题发生的场景
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="row suggest-option">
          <div class="col-md-12">
            <button type="button"
                    class="btn"
                    ng-class="{'btn-brand': model.selectedSuggestType.suggestTypeID == suggestType.suggestTypeID, 'btn-outline-brand': model.selectedSuggestType.suggestTypeID != suggestType.suggestTypeID}"
                    ng-repeat="suggestType in model.suggestTypeList" ng-click="onChooseSuggestType(suggestType)">
              <i class="fa fa-check" ng-if="model.selectedSuggestType.suggestTypeID == suggestType.suggestTypeID"></i>
              <span ng-bind="suggestType.suggestType"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            请描述您的问题（500字以内）
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="row suggest-option">
          <div class="col-md-12">
            <textarea class="form-control" rows="10" maxlength="500" name="suggestContent" ng-model="model.suggestContent" required></textarea>
          </div>
        </div>
      </div>

      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            请填写您的手机号码，以便我们及时回复您
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="row suggest-option">
          <div class="col-md-6">
            <input type="tel"
                   class="form-control"
                   maxlength="11"
                   name="cellphone"
                   ng-model="model.cellphone"
                   ng-blur="onCellphoneBlur()"
                   required>
            <div class="invalid-feedback" ng-if="model.isCellphoneInvalid == 1">您输入的不是有效的手机号码，请重新输入</div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__foot">
        <div class="kt-form__actions">
          <button type="button"
                  id="btnSubmitSuggest"
                  class="btn btn-primary btn-wide"
                  ng-click="onSubmit()"
                  ng-disabled="myForm.suggestContent.$pristine
                            || (myForm.suggestContent.$dirty && myForm.suggestContent.$invalid)
                            || myForm.cellphone.$pristine
                            || (myForm.cellphone.$dirty && myForm.cellphone.$invalid)
                            || model.selectedSuggestType == null
                            || model.isCellphoneInvalid != 0">提 交</button>
        </div>
      </div>
    </form>
  </div>

  <form class="kt-form" ng-if="model.isSubmitSuccess">
    <div class="form-group">
      <div class="kt-section__content">
        <div class="kt-demo">
          <div class="kt-demo__preview">
            <div class="alert alert-success" role="alert">
              <div class="alert-text">
                <h4 class="alert-heading">
                  <i class="flaticon2-check-mark"></i>
                  您的反馈意见提交成功!
                </h4>
                <p>非常感谢您对上书房支持，我将会对您的反馈信息进行仔细调研，并有可能和您取得联系，请保持手机畅通，谢谢！</p>
                <hr>
                <p class="mb-0">上书房，打造教学与就业的直通车！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/suggest.js');
  });
</script>