.des-misc-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.company-leave-message {
  max-width: 650px;
  max-height: 62px;
}