.kt-widget__value {
    font-size: 0.95rem !important;
    display: inline !important;
}

.kt-widget__pic {
    max-width: 130px !important;
    height: 130px !important;
}

.kt-widget__media img {
    width: 230px !important;
}
.form-group {
	margin-bottom: 0.8rem;
}