.kt-widget__footer button{
  padding: 0.5rem !important;
}
.data-separate{
  text-align: center;
  padding-top: 0.6rem;
}
.separator--border-right{
  border-right: 1px solid #cccccc;
}
.shs-course-time{
  float: left !important;
}
.shs-course-schedule-del{
  float: right !important;
}
.course-schedule:not(:last-child){
  margin-right: 1rem;
}
.course-plan thead th:nth-child(1), .course-plan tbody td:nth-child(1){
  width: 100px;
  text-align: center;
}
.course-plan thead th:nth-child(2), .course-plan tbody td:nth-child(2){
  width: 100px;
  /*text-align: center;*/
}
.course-plan thead th:nth-child(4), .course-plan tbody td:nth-child(4){
  width: 120px;
  /*text-align: center;*/
}
.course-plan tbody th:nth-child(3){
  width: 470px;
  /*text-align: center;*/
}
.course-plan tbody td:nth-child(3){
  max-width: 470px;
}
.course-plan-review thead th:nth-child(1){
  width: 100px;
  /*text-align: center;*/
}
.course-plan-review tbody td:nth-child(1){
  width: 100px;
  text-align: center;
}
.course-plan-review thead th:nth-child(2){
  max-width: 690px;
  text-align: center;
}
.course-plan-review tbody td:nth-child(2){
  width: 690px;
  /*text-align: center;*/
}
.course-plan-review tbody td:nth-child(2) a{
  width: 650px;
  /*text-align: center;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
a.knowledgeName{
  max-width: 470px;
  /*text-align: center;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.kt-notification .kt-notification__item:after{
  content: none !important;
}
.course-knowledge-technology{
  margin-right: 0.3rem;
}
.course-knowledge-technology img{
  width: 40px;
  border-radius: 50%;
}
.step-4 .kt-notification-v2 a{
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.step-4 .review-content-group{
  margin-bottom: 0.9rem;
}

.auto-teacher{
  width: 100%;
  height: auto;
  border: 1px solid #e2e5ec;
  position: absolute;
  top: 63px;
  z-index: 1;
  background: #fff;
}

.auto-teacher ul{
  list-style: none;
  padding: 0;
}

.auto-teacher ul li {
  line-height: 28px;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.auto-teacher ul li:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}