.selected {
    background-color: #f7f8fa;
}

.selected span {
    color: #3d94fb !important;
}

.last-marker {
    bottom: 35px;
}

.course-center-header {
    height: 150px;
    background: url(/media/banner/growing_map_header.jpg) no-repeat;
    background-size: 100% 100%;
}