.top-student .title span{
  color: #48465b;
  font-weight: 600;
  border-bottom: 1px solid #f1b86f;
}

.top-student .title i{
  font-size: 22px;
  color: #f1b86f
}

.top-student .item {
  /*width: 80%;*/
  margin: 10px auto 0;
  /*border: 2px solid #00CED1;*/
}

.top-student .item ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-student .item ul,li:not(:last-child){
  margin: 0 0.27rem 0 0;
}
.top-student .item ul /*这是关键*/{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.top-student .item li {
  max-width: 4.25rem;
  text-align: center;
  flex: auto;
}

.top-student .item ul li img{
  border-radius: 50%;
  max-width: 100%;
}

.shs-desc-briefly{
  max-width: 155px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.shs-cursor-hand{
  cursor: pointer;
}
.kt-portlet .kt-portlet__head{
  min-height: 40px;
}