/* begin: 表单的下拉列表*/

.width-full {
    width: 100%;
}

.form-dropdown {
    border: none;
    height: 50px;
    margin-top: 1.25rem;
    background-color: rgba(247, 247, 249, 0.7);
}

.form-dropdown button {
    width: 100%;
    height: 50px;
    background-color: #fafafb;
    color: #7a7c88;
    border: none;
}

.form-dropdown button span {
    float: left
}

.form-dropdown button i {
    float: right;
    color: #8b8d9a;
    font-size: 12px !important;
    margin-right: -10px;
    margin-top: 4px;
}

.form-dropdown .dropdown-menu {
    width: 100%;
    max-height: 360px;
    overflow-y: auto;
    position: absolute;
    will-change: transform;
    top: 0;
    left: 0;
    transform: translate3d(0px, 38px, 0px);
}


/* end: 表单的下拉列表*/


/* begin: 表单的手机验证码*/

.form-verification-code input {
    width: 71% !important;
    float: left;
}

.form-verification-code button {
    margin-top: 1.25rem;
    height: 50px;
    width: 29% !important;
}


/* end: 表单的手机验证码*/

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff !important;
    background-color: #3d94fb !important;
    border-color: #3d94fb !important;
}

.form-control.is-invalid {
    background-image: none !important
}