.technology-header{
  background-image: url("/media/banner/timg.jpeg");
  /*height: 200px;*/
  color: #ffffff;
  padding: 35px;
}
.technology-name{
  width: 150px;
}
.color-white {
  color: #ffffff;
}
.technology-decs {
  width: 900px;
}

.count{
  color: #f5a031 !important;
}
.using-company{
  width: 120px !important;
}
.direction-stars{
  width: 180px !important;
  font-size: 0.9rem !important;
}

.direction-stars i{
  font-size: 1.1rem !important;
}